**/target/
.bloop
.metals
.idea
metals*
out/*
!**/src/main/resources/**/README.md
**/*.dll
**/*.dylib
**/*.so
**/*.exe
*.log

.bsp
.vscode
.DS_Store

.project
.classpath
.settings


gluegenJar/src/
joglJar/src/
vtkJar/src/

# Refuse to add all binaries and compiled classes
**/src/main/resources
